
body {

	background-color: lavender;
}


h1 {

	font-size: 25px;
	font-family: "Lucida Console", Monospace;
	font-style: bold;
	border-style: solid;
	border-color: black;
}

h3 {

	font-size: 20px;
	font-family: "Arial", Sans-serif;
}
